<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learnandroid">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bmichart"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnAndroid">
        <activity
            android:name=".ParseableDataIntent"
            android:exported="true" />
        <activity
            android:name=".EnqueryReciveData"
            android:exported="true" />
        <activity
            android:name=".PopUpMenu"
            android:exported="true" />
        <activity
            android:name=".AboutUs"
            android:exported="true" />
        <activity
            android:name=".EnqueryForm"
            android:exported="true" />
        <activity
            android:name=".IntentActivity2"
            android:exported="true" />
        <activity
            android:name=".IntentActivity1"
            android:exported="true" />
        <activity
            android:name=".BmiChartActivity"
            android:exported="true" />
        <activity
            android:name=".AboutDeveloper"
            android:exported="true" />
        <activity
            android:name=".BmiApplication"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>